<h1>ANALYTICS</h1>
<div class="pieChartWrapper">
  <div id="pieChart-1" style="min-width: 700px; height: 400px"></div>
  <div id="pieChart-2" style="min-width: 700px; height: 400px"></div>
</div>

<div id="lineChart" style="min-width: 1400px; height: 500px"></div>
