<!--  Products: -->
<div class="table-wrapper">
  <div class="dropdown-wrapper">
    <h2>Order Table:</h2>
    <div>
      <label for="product-category">Category:</label>

      <select name="product-category" id="product-category">
        <option value="clothing">Clothing</option>
        <option value="accessories">Accessories</option>
        <option value="footwear">Footwear</option>
        <option value="furniture">Furniture</option>
        <option value="other">Other</option>
      </select>
    </div>
  </div>

  <!-- Product Table -->
  <table id="product-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>SellerID</th>
        <th>Active</th>
        <th>Approved</th>
        <th>Category</th>
      </tr>
    </thead>
  </table>
</div>
