<div class="product-outer">
  <div class="card-container"></div>
  <div id="modal" class=""></div>

  <!-- Pagination: -->
  <div class="pagination-wrapper">
    <div>
      <label for="product-count">Product Count:</label>

      <select name="product-count" id="product-count">
        <option value="8">8</option>
        <option value="16">16</option>
        <option value="24">24</option>
        <option value="32">32</option>
      </select>
    </div>

    <p class="next">Next:</p>
    <div id="pagination-counter"></div>

    <!--  -->
  </div>
</div>
